@import "./mixins/mixins.scss";
@import "./variables/variables.scss";

.MuiDataGrid-footerContainer {
  direction: ltr;
}

.MuiDataGrid-root {
  width: 100%;
}

.tox-statusbar {
  display: none !important;
}

.tox-tinymce {
  width: 100%;
}